# Folders
Cheat Sheets
DS - AlyxTheAnalyst
DS - Coursera (IBM Data Analysis with Python)
DS - Insoovision
DS - Paramedical IbnSina

# Sub-Folders
DS - M.Othaman/Data Science & Analysis Bootcamp
DS - M.Othaman/Data Analysis Basics in Excel

# Files
DS - Mazen Analytics/Data analysis - مشروع شركة ملابس صرية/الفكرة في باور-بي انك تعرف الحاجات اللي تتباع مع بعض.txt